version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: cypress/base:10
      environment:
        ## this enables colors in the output
        TERM: xterm

jobs:
  build:
    <<: *defaults

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v3-dependencies-

      - run: yarn install

      - run: yarn cypress verify

      - save_cache:
          paths:
            - node_modules
            - ~/.cache/Cypress
          key: v3-dependencies-{{ checksum "package.json" }}

      - run: yarn type-check

      - run: yarn lint

      - run: yarn test:unit

      - run: yarn build

      - store_artifacts:
          path: ~/repo/dist
          destination: dist

      - run:
          name: Build Storybook
          command: |
            yarn build-storybook
            apt-get update && apt-get install zip -y
            zip ~/storybook-static.zip -r storybook-static

      - store_artifacts:
          path: ~/storybook-static.zip
          destination: storybook-static.zip

      - run:
          name: E2E Test
          command: |
            yarn serve-static-storybook --silent & yarn wait-on http://localhost:8765
            yarn test:e2e

      - store_artifacts:
          path: ~/repo/cypress/screenshots
          destination: e2e-screenshots

      - store_artifacts:
          path: ~/repo/cypress/videos
          destination: e2e-video

      - persist_to_workspace:
          root: ~/repo
          paths: .

  deploy:
    <<: *defaults

    steps:
      - attach_workspace:
          at: ~/repo
      - run: yarn add -D netlify-cli
      - run: ./node_modules/netlify-cli/bin/run deploy -s ${NETLIFY_SITE_ID} -d storybook-static/ -a ${NETLIFY_TOKEN} --prod

      - run: echo "registry=https://registry.npmjs.org/" > ~/repo/.npmrc
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/repo/.npmrc
      - run: npm publish

workflows:
  version: 2
  test-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.+/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v.+/
            branches:
              ignore: /.+/
