version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10

jobs:
  build:
    <<: *defaults

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v2-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
            - .cache/Cypress
          key: v2-dependencies-{{ checksum "package.json" }}

      - run: yarn lint

      - run: yarn test

      - run: yarn build

      - run: yarn build-storybook

      - persist_to_workspace:
          root: ~/repo
          paths: .

  e2e:
    working_directory: ~/repo
    docker:
      - image: cypress/base:10
    steps:
      - attach_workspace:
          at: ~/repo

      - run: yarn serve-static-storybook & yarn wait-on http://localhost:8765

      - run: yarn cypress

      - persist_to_workspace:
          root: ~/repo
          paths: .

  deploy:
    <<: *defaults

    steps:
      - attach_workspace:
          at: ~/repo
      - run: yarn add -D netlify-cli
      - run: ./node_modules/netlify-cli/bin/run deploy -s ${NETLIFY_SITE_ID} -d storybook-static/ -a ${NETLIFY_TOKEN}

      - run: echo "registry=https://registry.npmjs.org/" > ~/repo/.npmrc
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/repo/.npmrc
      - run: npm publish

workflows:
  version: 2
  test-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.+/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v.+/
            branches:
              ignore: /.+/
