version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10

jobs:
  build:
    <<: *defaults

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn lint

      - run: yarn build
      # run tests!
      # - run: yarn test

      - persist_to_workspace:
          root: ~/repo
          paths: .

  deploy:
    <<: *defaults

    steps:
      - attach_workspace:
          at: ~/repo
      - run: echo "registry=https://registry.npmjs.org/" > ~/repo/.npmrc
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/repo/.npmrc
      - run: npm publish

      - run: yarn add -D netlify-cli
      - run: yarn build-storybook
      - run: ./node_modules/netlify-cli/bin/cli.js deploy -n ${NETLIFY_SITE_ID} -p storybook-static/ --access-token ${NETLIFY_TOKEN}

workflows:
  version: 2
  test-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.+/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v.+/
            branches:
              ignore: /.+/
